/*fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

/*index.html*/

main{
    display: flex;
    flex-wrap: wrap;
}

header{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

header h1{
    padding: 30px;
}

main img{
    width: auto;
    height: 300px;
    padding: 10px;
}


/*CARDS GENERAL*/

*{
    margin: 0%;
    padding: 0%;
}

.bodytarjetas {
    background-color: #bbbaba;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*card1.html*/

.tarjeta1{
    box-sizing: border-box;
    height: 240.96px;
    width: 302.97px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.5);
}

.fondo1{
    position: relative;
    opacity: 70%;
    width: 302.97px;
    height: 240.96px;
}

.contenido1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    font-family: "Poppins", sans-serif;
    
}

.contenido1 h1{
    font-weight: 500;
    font-size: 40.81px;
    letter-spacing: -0.94px;
}

.contenido1 p{
    font-weight: 400;
    font-size: 13.34px;
    letter-spacing: 0px;
}

.contenido1 img{
    width: 42.38px;
    height: 42.38px;
    top: -55.93px;
    border: 1.57px solid #0882E0;
    border-radius: 100px;
    margin-top: 20px;
    object-fit: cover;
}

/*card2.html*/

.tarjeta2{
    box-sizing: border-box;
    height: 246.32px;
    width: 146.51px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 1.28px;
}

.tarjeta2 img{
    width: 146.51px;
    height: 158.03px;
    border-top-left-radius: 1.28px;
    border-top-right-radius: 1.28px;
    object-fit: cover;
}

.contenidomain2{
    font-family: "Google Sans", sans-serif;
    margin-top: -3.5px;
    height: 86px;
    padding: 10px;
}

.contenido2 p{
    font-size: 11.52px;
    font-weight: 200;
}

.contenido2 h1{
    font-size: 11.52px;
    font-weight: 400px;
    color: #00aeff;
}

.contenido22{
    padding-top: 7px;
    display: flex;
    justify-content: space-between;
}

.left2{
    letter-spacing: 0%;
    display: flex;
    align-items: center;
}

.left2 h1{
    color: white;
    font-weight: 800;
    background-color: #32A636;
    font-size: 10.24px;
    padding: 2px;
    border-radius: 2.56px;
    
}

.left2 p{
    color: #BDBDBD;
    font-size: 10.24px;
    font-weight: 300;
    letter-spacing: -2%;
    margin-left: 2px;
}

.right2{
    justify-items: center;
}

.right2 h1{
    font-size: 11px;
    color: #1A2B49;
    font-weight: 1000;
}

.right2 p{
    font-size: 11px;
    color: #1A2B49;
}

/*card3.html*/

.tarjeta2{
    box-sizing: border-box;
    height: 246.32px;
    width: 146.51px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 1.28px;
}

.tarjeta2 img{
    width: 146.51px;
    height: 158.03px;
    border-top-left-radius: 1.28px;
    border-top-right-radius: 1.28px;
    object-fit: cover;
}

.contenidomain2{
    font-family: "Google Sans", sans-serif;
    margin-top: -3.5px;
    height: 86px;
    padding: 10px;
}

.contenido3 p{
    font-size: 11.52px;
    font-weight: 200;
    color: #1A2B49;
}

.contenido22{
    padding-top: 7px;
    display: flex;
    justify-content: space-between;
}

.left2{
    letter-spacing: 0%;
    display: flex;
    align-items: center;
}

.left2 h1{
    color: white;
    font-weight: 800;
    background-color: #32A636;
    font-size: 10.24px;
    padding: 2px;
    border-radius: 2.56px;
    
}

.left2 p{
    color: #BDBDBD;
    font-size: 10.24px;
    font-weight: 300;
    letter-spacing: -2%;
    margin-left: 2px;
}

.right2{
    justify-items: center;
}

.right2 h1{
    font-size: 11px;
    color: #1A2B49;
    font-weight: 1000;
}

.right2 p{
    font-size: 11px;
    color: #1A2B49;
}

/*card4.html*/

.tarjeta4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    height: 125.24px;
    width: 379.57px;
    background-color: rgb(255, 255, 255);
    box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 1.28px;
    font-family: "Google Sans", sans-serif;
}

.tarjeta4 img{
    width: 57.16px;
    height: 57.16px;
    padding: 30px;
}

.tarjeta4 h1{
    font-size: 15.41px;
    font-weight: 700;
    color: #1A2B49;
}

.tarjeta4 p{
    font-size: 8.99px;
    font-weight: 100;
    color: #1A2B49;
}

.botones{
    display: flex;
}

.button4{
 background-color: #00AEFF;
 color: white;
 padding: 5px 10px;
 border-radius: 3px;
}

.button44{
    border: #00AEFF 3px solid;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 8px;
}

