/*fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*index.html*/

/*CARDS GENERAL*/

*{
    margin: 0%;
    padding: 0%;
}

.bodytarjetas {
    background-color: #bbbaba;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*card1.html*/

.tarjeta1{
    box-sizing: border-box;
    height: 240.96px;
    width: 302.97px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.5);
}

.fondo1{
    position: relative;
    opacity: 70%;
    width: 302.97px;
    height: 240.96px;
}

.contenido1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    font-family: "Poppins", sans-serif;
    
}

.contenido1 h1{
    font-weight: 500;
    font-size: 40.81px;
    letter-spacing: -0.94px;
}

.contenido1 p{
    font-weight: 400;
    font-size: 13.34px;
    letter-spacing: 0px;
}

.contenido1 img{
    width: 42.38px;
    height: 42.38px;
    top: -55.93px;
    border: 1.57px solid #0882E0;
    border-radius: 100px;
    margin-top: 20px;

}

/*card2.html*/

.tarjeta1{
    box-sizing: border-box;
    height: 240.96px;
    width: 302.97px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.5);
}